@page
@model ContributionConfirmModel
@{
    ViewData["Title"] = "Contribution Confirm";
}

<h2 class="pot__text">Pot total</h2>
<h2 class="pot__text pot__text__numbers"><span class="pot__text__numbers--poundsign">£</span>@Html.DisplayFor(model => model.PotTotal, "Currency")</h2>
