@page
@model ContributionConfirmModel
@{
    ViewData["Title"] = "Contribution Confirm";
}

<h2 class="pot__text">Pot total</h2>
<h2 class="pot__text pot__text__numbers"><span class="pot__text__numbers--poundsign">£</span>@Html.DisplayFor(model => model.PotTotal, "Currency")</h2>

<br />
<p>You're currnetly rounding up from the @Html.DisplayFor(model => model.CategoriesChosen)</p>
<br />
<p>So far you've given @Html.DisplayFor(model => model.GivenDays) days of heating</p>