@page
@model ContributionConfirmModel
@{
    ViewData["Title"] = "Contribution Confirm";
}
<div class="pot__container">
    <h2 class="pot__text pot__text--total">Pot total</h2>
    <h2 class="pot__text pot__text__numbers"><span class="pot__text__numbers--poundsign">£</span>@Html.DisplayFor(model => model.PotTotal, "Currency")</h2>
    <img class="pot__logo" src="../images/fuelgood-logo.png" alt="Alternate Text" />
</div>
<br />

<p class="category-text"><span class="block">You're currently rounding up from the</span><span class="category-text--category">xxxxxxx</span> and <span class="category-text--category">xxxxxxx</span> categories.</p>
<p class="given-text">So far you've given<span class="given-text--number">@Html.DisplayFor(model => model.GivenDays)</span> days of heating</pclass="text">


<p>You're currently rounding up from the @Html.Raw(Model.CategoriesChosen)</p>
<br />
<p>So far you've given @Html.DisplayFor(model => model.GivenDays) days of heating</p>

