@page
@model ForecastModel
@{
    ViewData["Title"] = "Forecast";
}

<div class="container__white">
    <div class="pot__container pot__container--forecast">
    <a class="estimates__href" href="/ContributionConfirm"><img class="chevron-icon" src="../images/chevron-left-solid.png" alt="Back" /></a>
    <a class="estimates__href" href="/index"><img class="close-icon" src="../images/close-icon.png" alt="Close module" /></a>

        <p class="category-text"><span class="block">We predict you will give 10 days of heating</span> between September 1st - 30th with your current categories</p>
        <!-- <p class="category-text">Image 1</p> -->
        <img class="fig-images" src="../images/fig1.png" alt="Image 1" />
        
        <!-- <p class="category-text">Image 2</p> -->
        <img class="fig-images" src="../images/fig2.png" alt="Image 2" />
        
        <!-- <p class="category-text">Image 3</p> -->
        <img class="fig-images" src="../images/fig2b.png" alt="Image 3" />
        </div>
</div>