@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2><span>£</span></h2>

<table class="table table-hover">
    <thead class="nwthead">
        <tr>
            <th scope="col">
                &nbsp;
            </th>
            <th scope="col">
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var category in Model.Categories)
        {
            <tr>
                <th scope="row" style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => category.Name)
                </th>
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => category.Value)
                </td>
            </tr>
        }
    </tbody>
</table>