/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
	font-size: 20px;
	line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
	width: 100%;
}

/* QR code generator */
#qrCode {
	margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
	/* Hide captions */
	.carousel-caption {
		display: none;
	}
}


/*Bootstrap overrides*/

html {
	background: #111B1B;
}

body {
	background: no-repeat linear-gradient(180deg, #7AA4B6 0%, #111B1B 100%, #111B1B 100%), #3A3A3A;
}

.pot__container {
margin-right: auto;
margin-left: auto;
	text-align: center;
}

.pot__container--forecast {
	margin-top: 14px;
	padding-bottom: 14px;
margin-right: auto;
margin-left: auto;
	text-align: center;
}

.pot__text {
	font-size: 2em;
	text-align: center;
	color: #ffffff;
}

.pot__text--total {
	margin-bottom: 0px;
}

.pot__text__numbers {
	margin-top: 2px;
	margin-left: 90px;
	display: inline-block;
	font-size: 11em;
	font-weight: 600;
}

.pot__text__numbers--poundsign {
	font-size: 60px;
}

.pot__logo {
	height: 132px;
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
	margin-top: -83px;
}


.estimates {
	text-align: center;
	font-size: 2.5em;
}

a.estimates__href {
	color: #8FD3F5;
}

.table-headings {
	font-weight: 400;
}

table, thread, hr, td, th {
	border: none;
	border-color: none;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border: none;
}

th, tr {
	color: #ffffff;
}

	tr:hover {
		/*background-color: rgba(255, 0, 0, 0.1);*/
	}

.btn-section {
	background-color: #F16A92;
	width: 250px;
	/*text-align: left;*/
	cursor: context-menu;
}

.btn-section:hover {
	color: #ffffff;
}

.btn-on {
	border-radius: 3px 0 0 3px;
	background-color: #E8CDD5;
	font-weight: 600;
}

	.btn-on:hover {
		background-color: #F16A92;
		color: #ffffff;
	}

.btn-off {
	border-radius: 0 3px 3px 0;
	color: #444444;
	font-weight: 600;
}

	.btn-off:hover {
		background-color: #C4C4C4;
		color: #444444;
	}

	.btn-roundup{
	color: #444444;
	font-weight: 600;
	background-color: #fafafa;
	}
	.btn-roundup:hover{
background-color: #C4C4C4;
	}

.btn.btn-roundup.active{
	background-color: #F16A92;
	color: #ffffff;
}


.btn__roundup {
	display: none;
}

.roundup {
	display: inline-block;
	margin-left: 24px;
	font-weight: 500;
}

.copyright {
	color: #fafafa;
}


.category-text {
	text-align: center;
	font-size: 1.5em; 
	color: #444444;
	padding: 0 100px;
}

.category-text--category {
	font-weight: 600;
	color: #8FD3F5;
}

.given-text {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	font-size: 2em;
	color: #444444;
}

.given-text--number {
	display: block;
	font-size: 3.5em;
	font-weight: 600;
	line-height: 1.25;
}

.forecast-text {
	text-align: center;
	font-size: 1.5em;
	color: #444444;
	padding: 0 100px;
}

.block{
	display: block;
}

.container__white {
	margin-top: 48px;
background-color: #fafafa;
opacity: 0.9;
border-radius: 4px;
padding-top: 24px;
padding-bottom: 24px;
}

.inverted {
color: #444444;
}

.close-icon {
	float: right;
	margin-right: 24px;
}

.chevron-icon {
	float: left;
	margin-left: 24px;
}

.title-nav {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 2em;
	font-weight: 600;
	line-height: 20px;
	color: #ffffff;
	text-decoration: none;
}
.title-nav:hover {

	color: #ffffff;
	text-decoration: none;
}

.nav__logo {
	margin-top: 2px;
	height: 40px;
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
	float: left;
}

.nav-tag {
display: block;
color: #ffffff;
margin: 15px 0 0 0;
text-align: right;
font-weight: 600;
}

.fig-images{
	height: 240px;
	margin-top: 28px;
	padding: 0 14px;
	max-width: 100%;
	display: inline-block;
}